@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Playfair+Display+SC:wght@400;700&display=swap');

// Typography
$primaryFont: 'Barlow';
$secondaryFont: 'Playfair Display SC';

// Color Scheme
$primary: rgba(240, 245, 249, 1);
$secondary: rgba(40, 40, 40, 1);
$accent: rgba(217, 50, 8, 1);
$yellow: rgba(251, 219, 91, 1);
$blue: rgba(128, 195, 255, 1);
$white: rgba(250, 252, 255, 1);

$muted: rgba(61, 61, 61, 1);
$cardBorder: rgba(255, 246, 214, 1);
$focusRing: rgba(182, 204, 226, 1);
$modalBg: rgba(128, 195, 255, 0.25);
$activeNav: rgba(211, 224, 238, 1);
