@import './globals';

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  background-color: $primary;
  font-family: $primaryFont;
  color: $secondary;
  min-height: 100vh;
  min-width: 100vw;

  a {
    color: $accent;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
  }
}
